@using EPiServer.Shell
@inherits System.Web.Mvc.WebViewPage<EPiServer.Labs.BlockEnhancements.LocalContentAnalyzerViewModel>

<div class="epi-contentContainer epi-padding">
    <div class="epi-contentArea">
        <h1 class="EP-prefix">
            Analyze the usage of blocks
        </h1><p class="EP-systemInfo">A tool to check how often the same block is shared between multiple content items.</p>
    </div>


    <div class="epi-contentArea epi-formArea">
        <p>Number of blocks
            <strong>@Model.BlockInstancesCount</strong>
        </p>
        <p>Number of blocks outside `For this page/block` folder
            <strong>@Model.SharedBlockInstancesCount</strong>
        </p>
        <p>Number of blocks inside `For this page/block` folder
            <strong>@Model.LocalBlockInstancesCount</strong>
        </p>
        <p>Local blocks ratio
            <strong>@Model.LocalBlockRatio</strong>
        </p>
        <p>Shared blocks referenced just once (those could be moved to `For this page/block` folders)
            <strong>@Model.SharedBlocksReferencedJustOnceCount</strong>
        </p>
        <p>Unused Shared blocks (could be removed)
            <strong>@Model.UnusedSharedBlocks</strong>
        </p>
        <p>Real Shared Blocks (blocks which are used at least twice on different content items)
            <strong>@Model.RealSharedBlocks</strong>
        </p>
        <div class="epi-buttonDefault" style="display: none;">
            <span class="epi-cmsButton"><input class="epi-cmsButton-text epi-cmsButton-tools epi-cmsButton-Refresh" type="submit" value="Convert selected to local blocks"></span>
        </div>
    </div>

    <div data-dojo-attach-point="gridNode" class="grid--wide">

    </div>

</div>
<div id="root" data-epi-module-url="@Model.ModuleUrl">

</div>

<script type="text/javascript" src="@Paths.ToClientResource("episerver-labs-block-enhancements", "ClientResources/dist/blockenhancements-labs.bundle.js")"></script>
<link rel="stylesheet" href="@Paths.ToClientResource("episerver-labs-block-enhancements", "ClientResources/dist/blockenhancements-labs.bundle.css")" />
